.row {
  margin: 2vw -4vw;
}

.row,
.row > .column {
  padding: 1vw;
}

.column {
  float: left;
  width: 50%;
  background-color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*TEXT*/
body{
    background-color: black;
    color: white;
    padding:5px;
    font-family: bd-supper, sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }

footer{
    text-transform: uppercase;
    font-size: 4vh;
}

a:visited{
    color:gray;
}

h1{
font-family: bd-supper, sans-serif;
font-weight: 600;
font-style: normal;
font-size:10vw;
line-height: .8;
margin-top: 0;
margin-bottom: 0;
transition: transform .2s;
}

.coolhover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
}

#content{
    font-size:4vw;
    font-weight: 700;
}

h2{
  font-size: 5vw;
}

/*SIDE PANEL*/

button{
    font-family: bd-supper, sans-serif;
font-weight: 700;
font-style: normal;
background-color: black;
color: white;
border-radius: 20px;
border-width: .6vw;
font-size: 4vw;
padding: 1vw;
}

.sidepanel {
    height: 40vw; 
    width: 0; 
    position:absolute; /* Stay in place */
    z-index: 1; 
    top: 5%;
    right:3%;
    background-color: #111; /* Black*/
    opacity: .8;
    overflow-x: hidden; 
    padding-top: 3vw; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    font-size:2.445vw;
    }

.sidepanel .closebtn {
position: absolute;
top: 1vw;
 right: 2vw;
font-size: 3vw;

color:white;
text-decoration: none;
}

#mobilesidepanel{
  display:none
}


  #circle div:nth-child(1){
    margin: 10vw 0 0 48vw;
  }

  #circle div:nth-child(2){
    margin: 8vw 0 0 27vw;
  }

  
.stickimg{
   height:25vw;
   width: 25vw;
   transition: transform .2s;
}

.description{
  font-size: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#circle {
    width:58vw;
    height:58vw;
    border-width: 1.5vw;
    border-style: dashed;
    border-radius: 600px;
    border-color: white;
    top:-12vw;
    left:-10vw;
   z-index: -2;
   position: absolute;
  }


  #spacebox{
    padding:10vw;
  }


.stickimg:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
}

@media(max-width: 500px) {
    #circle {
        width: 90vw;
        height:90vw;
        aspect-ratio: 1 / 1;
        border-width: 2.5vw;
    }
    .sidepanel {
        font-size:2.25vw;
        height: 40vw; 
}

.stickimg{
  aspect-ratio: 1 / 1;
  height:35vw;
  width:35vw;
  transition: transform .2s;
}

#desktopsidepanel{
  color:red;
  display: none;
}

#mobilesidepanel{
  color:blue;
  display:contents
}

.sidepanel {
  height: 40vw; 
  width: 0; 
  position:absolute; /* Stay in place */
  z-index: 1; 
  top: 50%;
  right:3%;
  background-color: #111; /* Black*/
  opacity: .8;
  overflow-x: hidden; 
  padding-top: 3vw; 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  font-size:2.445vw;
  }

h1{
    font-size:15vw;}

    #circle div:nth-child(1){
        margin: 20vw 0 0 70vw;
      }
    
      #circle div:nth-child(2){
        margin: 22vw 0 0 32vw;
      }
    
      #spacebox{
        padding:30vw;
      }
   
      #circle div:nth-child(2){
        margin: 12vw 0 0 27vw;
      }
}
